.App {
	text-align: center;
}

.navbar-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 8vh;
	background-color: #4f5b80;
}

.navbar-wrapper a {
	color: #00ff22;
	text-decoration: none;
}

.navbar-wrapper > .nav-link-active {
	font-size: 1.5em;
	color: #00ffff;
	text-decoration: none;
}
